#options_page > .group + *
{
	background-color:rgb(220,220,250);
}

#options_page > .group > .pane
{
	cursor:pointer;
	display:table;
	width:100%;
	height:50px;
	cursor:pointer;
	background:#FFF;
}

#options_page > .group > .pane:hover
{
	background-color:#ffc;
}

#options_page > .group > .pane > *
{
	display:table-cell;
	vertical-align:middle;
	overflow:hidden;
	cursor:pointer;
}

#options_page > .group > .pane > .icon
{
	width:70px;
	background:no-repeat center;
	background-size:35px;
	-webkit-transition:background-position 70ms cubic-bezier(0.585, 0.250, 0.360, 0.955);
}

#options_page > .group > .pane > .name
{
	letter-spacing:0.1em;
	line-height:0.1em;
	font-size:1.1em;
}

#options_page > .group > .pane > .status
{
	width:70px;
	-webkit-transition:background 40ms linear;
	background:no-repeat center url('../img/on.png');
	background-size:50%;
}

#options_page > .group > .pane > .status:hover
{
	background-color:rgba(0,0,0,0.05);
}

#options_page > .group > .detail
{
	-webkit-transition:max-height 500ms cubic-bezier(.68, .41, .39, .77);
	max-height:0px;
	overflow:hidden;
	background:#FFF;
}

#options_page > .group.open > .detail
{
	max-height:400px;
}

#options_page > .group.open > .pane
{
	background-color:#ffc;
}

#options_page > .group > .detail > *
{
	padding:20px;
}

#options_page > .group > .detail > * > *:first-child
{
	display:table;
	width:100%;
}

#options_page > .group.off
{
	-webkit-filter:grayscale(1);
	opacity:0.5;
}

#options_page > .group.off > .pane > .status
{
	background-image:url('../img/off.png');
	background-size:25%;
}

#options_page > .split
{
	height:2px;
	background:rgb(245,245,245);
	cursor:pointer;
}